<app-module-index>
	<card-header>
		<app-page-intro
			[title]="title"
			[description]="description"
			(onSearch)="onSearch($event)"
			(onCreate)="onCreate($event)"
		>
		</app-page-intro>
	</card-header>
	<card-content>
		<table mat-table [dataSource]="records$()">
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>Id</th>
				<td mat-cell *matCellDef="let element; let i = index">
					{{ i + 1 }}
				</td>
			</ng-container>

			<ng-container matColumnDef="personal">
				<th mat-header-cell *matHeaderCellDef>Datos #1</th>
				<td mat-cell *matCellDef="let element">
					<span><b>Cédula:</b> {{ element.cedula }}</span>
					<br />
					<span><b>Nombre:</b> {{ nombreCompleto(element) }}</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="info">
				<th mat-header-cell *matHeaderCellDef>Datos #2</th>
				<td mat-cell *matCellDef="let element">
					<span
						><b>Inst.:</b> {{ element.institucion ?? 'N/A' }}</span
					>
					<br />
					<span><b>Rango:</b> {{ element.rango ?? 'N/A' }}</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="acciones">
				<th mat-header-cell *matHeaderCellDef>Acciones</th>
				<td mat-cell *matCellDef="let element">
					<button
						mat-icon-button
						(click)="onEdit(element.id)"
						matTooltip="Editar"
					>
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button matTooltip="Eliminar">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr
				mat-row
				*matRowDef="let element; columns: displayedColumns"
			></tr>

			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="3">
					<h4 style="text-align: center">No hay datos</h4>
				</td>
			</tr>
		</table>
	</card-content>
	<card-footer>
		<app-page-paginator
			[length]="totalCount$()"
			[pageSize]="filters$().size"
			(page)="onPaginate($event)"
		></app-page-paginator
	></card-footer>
</app-module-index>
