<h2 mat-dialog-title>{{ customTitle }}</h2>
<div mat-dialog-content>
	@if(isUpdate){
	<mat-form-field style="width: 100%">
		<mat-label>Deposito</mat-label>
		<input matInput [(ngModel)]="data.entity.nombre" />
	</mat-form-field>

	<p><b>Dependencia actual:</b> <br />{{ data.entity.dependencia }}</p>
	<mat-form-field style="width: 100%">
		<mat-label>Dependencia Actual</mat-label>
		<input
			type="text"
			placeholder="Buscar dependencia"
			matInput
			[formControl]="dependenciaControl"
			[matAutocomplete]="dependenciaAuto"
		/>
		<mat-autocomplete
			#dependenciaAuto="matAutocomplete"
			[displayWith]="displayDependenciaFn"
		>
			@for (dependencia of dependencias$(); track dependencia.id) {
			<mat-option [value]="dependencia">{{
				dependencia.nombre
			}}</mat-option>
			}
		</mat-autocomplete>
	</mat-form-field>
	<mat-checkbox [(ngModel)]="data.entity.esFuncion"
		>Es Función ?
		<b>{{ data.entity.esFuncion ? 'Si' : 'No' }}</b></mat-checkbox
	>
	} @else {
	<mat-form-field style="width: 100%">
		<mat-label>Deposito</mat-label>
		<input matInput [(ngModel)]="depositoObj.nombre" />
	</mat-form-field>
	<mat-form-field style="width: 100%">
		<mat-label>Dependencia</mat-label>
		<input
			type="text"
			placeholder="Buscar dependencia"
			matInput
			[formControl]="dependenciaControl"
			[matAutocomplete]="dependenciaAuto"
		/>
		<mat-autocomplete
			#dependenciaAuto="matAutocomplete"
			[displayWith]="displayDependenciaFn"
		>
			@for (dependencia of dependencias$(); track dependencia.id) {
			<mat-option [value]="dependencia">{{
				dependencia.nombre
			}}</mat-option>
			}
		</mat-autocomplete>
	</mat-form-field>
	<mat-checkbox [(ngModel)]="depositoObj.esFuncion"
		>Es Función ?
		<b>{{ depositoObj.esFuncion ? 'Si' : 'No' }}</b></mat-checkbox
	>
	}
</div>
<app-update-create-dialog-actions
	[isUpdate]="isUpdate"
	(on-save)="onSave($event)"
	(on-update)="onUpdate($event)"
></app-update-create-dialog-actions>
