:host {
	display: block;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1em;
	mat-form-field {
		flex-grow: 2;
	}
	button {
		margin-top: -1em;
	}
	// .excel-logo-container {
	// 	border: 2px solid gainsboro;
	// 	border-radius: 0.2em;
	// 	padding: 0.4em 0.8em;
	// 	margin-top: -1em;
	// 	.excel-logo {
	// 		width: auto;
	// 		height: 40px;
	// 	}
	// }
}
