<h2 mat-dialog-title>Formulario Modelos</h2>
<mat-dialog-content class="content">
	<div class="file-input-container">
		<div class="file-input">
			<app-file-input
				[title]="'Foto'"
				[fileType]="'image/*'"
				(on-file-upluoded)="onFileUploaded($event)"
			/>
		</div>
		<div class="preview">
			@if (fotoModelo){
			<img class="preview-img" [src]="fotoModelo" alt="Foto" />
			}
		</div>
	</div>

	@if(isUpdate){
	<div
		style="
			width: 100%;
			padding: 0.3em 1em;
			border-radius: 0.5em;
			font-size: 1.5rem;
			background-color: rgb(250, 250, 158);
			color: rgb(102, 102, 102);
		"
	>
		<p><b>Marca actual:</b> {{ data.entity.marca }}</p>
	</div>
	}

	<div class="row">
		<mat-form-field class="input">
			<mat-label>Modelo</mat-label>
			<input
				matInput
				placeholder="Modelo"
				[formControl]="nombreControl"
			/>
		</mat-form-field>

		<mat-form-field class="select">
			<mat-label>Marca</mat-label>
			<input
				matInput
				placeholder="Marca"
				[formControl]="marcaControl"
				[matAutocomplete]="auto"
			/>
			<mat-autocomplete
				#auto="matAutocomplete"
				[displayWith]="displayMarca"
			>
				@for (marca of marcas$(); track marca.id) {
				<mat-option [value]="marca">{{ marca.nombre }}</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>
	</div>
</mat-dialog-content>
<app-update-create-dialog-actions
	[isUpdate]="isUpdate"
	(on-save)="onSave($event)"
	(on-update)="onUpdate($event)"
></app-update-create-dialog-actions>
