<mat-card>
	<mat-card-header class="card-header">
		<div class="row-between">
			<div class="col">
				<mat-card-title>{{ title }}</mat-card-title>
				<mat-card-subtitle>{{ description }}</mat-card-subtitle>
			</div>
			<div class="col">
				<button
					mat-flat-button
					(click)="goBack()"
					class="primary-color"
				>
					<mat-icon>arrow_back</mat-icon>Regresar
				</button>
			</div>
		</div>
	</mat-card-header>
	<mat-card-content>
		@if (transaccion$()) {

		<fieldset>
			<legend>Información</legend>
			<div class="row">
				<div class="col">
					<h5>Origen</h5>
					<span>{{ transaccion$().transaccion.origen }}</span>
				</div>

				<div class="col">
					<mat-icon>compare_arrows</mat-icon>
				</div>

				<div class="col">
					<h5>Destino</h5>
					<span>{{ transaccion$().transaccion.destino }}</span>
				</div>
			</div>
		</fieldset>

		<div class="row">
			<div class="col">
				<h2>Articulos</h2>
				<mat-divider></mat-divider>

				<table mat-table [dataSource]="transaccion$().articulos">
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef>#</th>
						<td mat-cell *matCellDef="let element">
							{{ element.id }}
						</td>
					</ng-container>

					<ng-container matColumnDef="data">
						<th mat-header-cell *matHeaderCellDef>Descripcion</th>
						<td mat-cell *matCellDef="let element">
							<span><b>Tipo: </b>{{ element.subTipo }}</span>
							<br />
							<span><b>Marca: </b>{{ element.marca }}</span>
							<br />
							<span><b>Modelo: </b>{{ element.modelo }}</span>
							<br />
							<span><b>Calibre: </b>{{ element.calibre }}</span>
							<br />
							<span><b>Serie: </b>{{ element.serie }}</span>
						</td>
					</ng-container>

					<ng-container matColumnDef="cantidad">
						<th mat-header-cell *matHeaderCellDef>Cantidad</th>
						<td mat-cell *matCellDef="let element">
							{{ element.cantidad }}
						</td>
					</ng-container>

					<tr
						mat-header-row
						*matHeaderRowDef="['id', 'data', 'cantidad']"
					></tr>
					<tr
						mat-row
						*matRowDef="
							let row;
							columns: ['id', 'data', 'cantidad']
						"
					></tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h2>Documentos</h2>
				<mat-divider></mat-divider>

				<table mat-table [dataSource]="transaccion$().documentos">
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef>#</th>
						<td mat-cell *matCellDef="let element; let i = index">
							{{ i + 1 }}
						</td>
					</ng-container>

					<ng-container matColumnDef="data">
						<th mat-header-cell *matHeaderCellDef>Descripcion</th>
						<td mat-cell *matCellDef="let element">
							<span
								><b>Tipo: </b>{{ element.tipoDocumento }}</span
							>
							<br />
							<span
								><b>Númeracion</b>{{ element.numeracion }}</span
							>
						</td>
					</ng-container>

					<ng-container matColumnDef="acciones">
						<th mat-header-cell *matHeaderCellDef>Acciones</th>
						<td mat-cell *matCellDef="let element"></td>
					</ng-container>

					<tr
						mat-header-row
						*matHeaderRowDef="['id', 'data', 'acciones']"
					></tr>
					<tr
						mat-row
						*matRowDef="
							let row;
							columns: ['id', 'data', 'acciones']
						"
					></tr>
				</table>
			</div>
		</div>

		}
	</mat-card-content>
</mat-card>
