<app-module-index>
	<card-header>
		<app-page-intro
			[title]="title"
			[description]="description"
			[show-create-btn]="canCreate()"
			[show-search]="false"
			(onSearch)="onSearch($event)"
			(onCreate)="onCreate($event)"
		>
		</app-page-intro>

		<fieldset>
			<legend>Filtros</legend>
			<div class="row">
				<mat-form-field>
					<mat-label>Origen</mat-label>
					<input matInput [formControl]="origenCtrl" />
				</mat-form-field>
				<mat-form-field>
					<mat-label>Destino</mat-label>
					<input matInput [formControl]="destinoCtrl" />
				</mat-form-field>
				<mat-form-field>
					<mat-label>Formulario #53</mat-label>
					<input matInput [formControl]="formulario53Ctrl" />
				</mat-form-field>

				<mat-checkbox [formControl]="adjunto53Ctrl"
					>Sin Formulario 53</mat-checkbox
				>

				<mat-form-field>
					<mat-label>Desde</mat-label>
					<input
						matInput
						[matDatepicker]="picker1"
						[formControl]="fechaDesdeCtrl"
						(dateChange)="onInitialDateChange($event)"
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="picker1"
						class="example-icon"
					></mat-datepicker-toggle>
					<mat-datepicker #picker1></mat-datepicker>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Hasta</mat-label>
					<input
						matInput
						[matDatepicker]="picker2"
						[formControl]="fechaHastaCtrl"
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="picker2"
						class="example-icon"
					></mat-datepicker-toggle>
					<mat-datepicker #picker2></mat-datepicker>
				</mat-form-field>

				<button mat-stroked-button (click)="clearFilters()">
					<mat-icon>clear</mat-icon>
					<span>Limpiar</span>
				</button>

				<button
					mat-flat-button
					class="primary-color"
					(click)="advancedSearch()"
				>
					<mat-icon>search</mat-icon>
					<span>Buscar</span>
				</button>
			</div>
		</fieldset>
	</card-header>
	<card-content>
		<table mat-table [dataSource]="data$().rows">
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>#</th>
				<td mat-cell *matCellDef="let element; let i = index">
					{{ i + 1 }}
				</td>
			</ng-container>

			<ng-container matColumnDef="transaccion">
				<th mat-header-cell *matHeaderCellDef>Datos Transacción</th>
				<td mat-cell *matCellDef="let element">
					<span><b>Origen: </b>{{ element.origen }}</span>
					<br />
					<span><b>Destino: </b>{{ element.destino }}</span>
					<br />
					<span><b>Fecha: </b>{{ element.fecha }}</span>
					<br />
				</td>
			</ng-container>

			<ng-container matColumnDef="documento">
				<th mat-header-cell *matHeaderCellDef>Datos Documento</th>
				<td mat-cell *matCellDef="let element">
					<span><b>Form. #53: </b>{{ element.formulario }}</span>
					<br />
					<span><b>Usuario: </b>{{ element.usuario }}</span>
					<br />
					<span
						><b>Creación: </b
						>{{
							element.fechaCreacion | date : 'dd-MM-yyyy HH:mm'
						}}</span
					>
				</td>
			</ng-container>

			<ng-container matColumnDef="acciones">
				<th mat-header-cell *matHeaderCellDef>Acciones</th>
				<td mat-cell *matCellDef="let element">
					<app-crud-actions
						[id]="element.id"
						[entity]="element"
						[showDetails]="true"
						(on-edit)="onEdit($event)"
						(on-delete)="onDelete($event)"
						(on-details)="onDetails($event)"
					></app-crud-actions>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr
				mat-row
				*matRowDef="let element; columns: displayedColumns"
			></tr>

			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="3">
					<h4 style="text-align: center">No hay datos</h4>
				</td>
			</tr>
		</table>
	</card-content>
	<card-footer>
		<app-page-paginator
			[length]="data$().totalCount"
			[pageSize]="transactionFilter$().size"
			(page)="onPaginate($event)"
		></app-page-paginator
	></card-footer>
</app-module-index>
