:host {
	display: block;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
	flex-wrap: wrap;
	input,
	button {
		flex-grow: 1;
	}
}

.primary-color {
	background-color: rgb(64, 64, 167) !important;
}
