<h2 mat-dialog-title>Crear Orden</h2>
<mat-dialog-content>
	<mat-stepper [linear]="true" #stepper>
		<mat-step [stepControl]="datosForm">
			<ng-template matStepLabel>Datos</ng-template>
			<form [formGroup]="datosForm">
				<mat-form-field>
					<mat-label>Fecha Efectividad</mat-label>
					<input
						matInput
						[matDatepicker]="picker"
						formControlName="fechaEfectividad"
					/>
					<mat-hint>dd/mm/yyyy</mat-hint>
					<mat-datepicker-toggle
						matIconSuffix
						[for]="picker"
					></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Comentario</mat-label>
					<textarea
						matInput
						formControlName="comentario"
						placeholder="Comentario"
					></textarea>
				</mat-form-field>
			</form>
			<div class="actions">
				<!-- <button mat-button matStepperPrevious>Back</button> -->
				<button mat-flat-button matStepperNext class="primary">
					Siguiente
				</button>
			</div>
		</mat-step>

		<mat-step [stepControl]="articulosForm">
			<ng-template matStepLabel>Articulos</ng-template>

			<form [formGroup]="articulosForm">
				<ng-container formArrayName="articulos">
					<ng-container
						*ngFor="
							let articulo of articulos.controls;
							let i = index
						"
					>
						<div class="form-array-row" [formGroupName]="i">
							<mat-form-field appearance="fill">
								<mat-label>Categoria</mat-label>
								<mat-select
									formControlName="categoriaId"
									(selectionChange)="onCategoriaSelected()"
								>
									@for (item of categorias$(); track $index) {
									<mat-option [value]="item.id">
										{{ item.nombre }}
									</mat-option>
									}
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Tipo</mat-label>
								<mat-select
									formControlName="tipoId"
									(selectionChange)="onTipoSelected()"
								>
									@for (item of tipos$(); track $index) {
									<mat-option [value]="item.id">
										{{ item.nombre }}
									</mat-option>
									}
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>SubTipo</mat-label>
								<mat-select formControlName="subTipoId">
									@for (item of subTipos$(); track $index) {
									<mat-option [value]="item.id">
										{{ item.nombre }}
									</mat-option>
									}
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Marca</mat-label>
								<mat-select
									formControlName="marcaId"
									(selectionChange)="onMarcaSelected()"
								>
									@for (item of marcas$(); track $index) {
									<mat-option [value]="item.id">
										{{ item.nombre }}
									</mat-option>
									}
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Modelo</mat-label>
								<mat-select formControlName="modeloId">
									@for (item of modelos$(); track $index) {
									<mat-option [value]="item.id">
										{{ item.nombre }}
									</mat-option>
									}
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Calibre</mat-label>
								<mat-select formControlName="calibreId">
									@for (item of calibres$(); track $index) {
									<mat-option [value]="item.id">
										{{ item.nombre }}
									</mat-option>
									}
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Cantidad</mat-label>
								<input
									matInput
									formControlName="cantidad"
									placeholder="cantidad"
								/>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Serie</mat-label>
								<input
									matInput
									formControlName="serie"
									placeholder="serie"
								/>
							</mat-form-field>

							<button
								mat-icon-button
								(click)="removeArticulo(i)"
								style="margin: auto"
							>
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</ng-container>
				</ng-container>

				<mat-divider></mat-divider>

				<div class="add-btn-row">
					<button
						class="add-button"
						mat-icon-button
						(click)="addArticulo()"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>
			</form>

			<div class="actions">
				<button mat-button matStepperPrevious>Atras</button>
				<button mat-flat-button matStepperNext class="primary">
					Siguiente
				</button>
			</div>
		</mat-step>

		<mat-step [stepControl]="documentosForm">
			<ng-template matStepLabel>Documentos</ng-template>

			<form [formGroup]="documentosForm">
				<ng-container formArrayName="documentos">
					<ng-container
						*ngFor="
							let documento of documentos.controls;
							let i = index
						"
					>
						<div class="column" [formGroupName]="i">
							<mat-divider></mat-divider>

							<h4>Documento No.{{ i + 1 }}</h4>

							<app-file-input
								[title]="'Adjuntar Documento'"
								[fileType]="'application/pdf'"
								(on-file-upluoded)="onFileSelected($event, i)"
							></app-file-input>

							<div class="row">
								<mat-form-field appearance="fill">
									<mat-label>Nombre</mat-label>
									<input
										matInput
										formControlName="nombre"
										placeholder="Nombre"
									/>
								</mat-form-field>

								<mat-form-field appearance="fill">
									<mat-label>Tipo Documento</mat-label>
									<mat-select
										formControlName="tipoDocumentoId"
									>
										@for (item of tipoDocumentos$(); track
										$index) {
										<mat-option [value]="item.id">
											{{ item.nombre }}
										</mat-option>
										}
									</mat-select>
								</mat-form-field>

								<mat-form-field appearance="fill">
									<mat-label>Fecha Emisión</mat-label>
									<input
										matInput
										[matDatepicker]="pickerEmision"
										formControlName="fechaEmision"
									/>
									<mat-hint>DD/MM/YYYY</mat-hint>
									<mat-datepicker-toggle
										matIconSuffix
										[for]="pickerEmision"
									></mat-datepicker-toggle>
									<mat-datepicker
										#pickerEmision
									></mat-datepicker>
								</mat-form-field>

								<mat-form-field appearance="fill">
									<mat-label>Fecha Recepción</mat-label>
									<input
										matInput
										[matDatepicker]="pickerRecepcion"
										formControlName="fechaRecepcion"
									/>
									<mat-hint>DD/MM/YYYY</mat-hint>
									<mat-datepicker-toggle
										matIconSuffix
										[for]="pickerRecepcion"
									></mat-datepicker-toggle>
									<mat-datepicker
										#pickerRecepcion
									></mat-datepicker>
								</mat-form-field>

								<mat-form-field appearance="fill">
									<mat-label>Fecha Expiración</mat-label>
									<input
										matInput
										[matDatepicker]="pickerExpiracion"
										formControlName="fechaExpiracion"
									/>
									<mat-hint>DD/MM/YYYY</mat-hint>
									<mat-datepicker-toggle
										matIconSuffix
										[for]="pickerExpiracion"
									></mat-datepicker-toggle>
									<mat-datepicker
										#pickerExpiracion
									></mat-datepicker>
								</mat-form-field>

								<button
									mat-icon-button
									(click)="removeDocumento(i)"
									style="margin: auto"
								>
									<mat-icon>delete</mat-icon>
								</button>
							</div>
						</div>
					</ng-container>
				</ng-container>

				<mat-divider></mat-divider>

				<div class="add-btn-row">
					<button
						class="add-button"
						mat-icon-button
						(click)="addDocumento()"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>
			</form>
			<div class="actions">
				<button mat-stroked-button matStepperPrevious>Atras</button>
				<button
					mat-flat-button
					class="primary"
					(click)="onSave()"
					[disabled]="!isFormValid"
				>
					Guardar
				</button>
			</div>
		</mat-step>
	</mat-stepper>
</mat-dialog-content>
