:host {
	display: block;
}

.title-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	.top {
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.left {
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			.title {
				font-size: 2em;
				color: #5b5c5c;
			}
			.description {
				margin-top: -1em;
				font-size: 1.2em;
				font-weight: 450;
				color: #5b5c5c;
			}
		}
		.right {
			width: 70%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			gap: 1em;
			.primary {
				width: 15%;
				background-color: rgb(64, 64, 167);
			}
		}
	}
	.search {
		width: 30%;
		background-color: transparent !important;
		opacity: 0.8;
	}
}
