<table class="table">
	<!-- Dynamic Column Definitions -->

	<thead class="thead">
		<tr>
			@for(column of tableColumns[0]; track $index) {
			<th scope="col" class="column">{{ column }}</th>
			}
		</tr>
	</thead>

	<tbody class="tbody">
		@if(tableData.length > 0) { @for(row of tableData; track $index) {
		<tr class="row">
			@for(cell of row; track $index) {
			<td scope="row" class="cell">{{ cell }}</td>
			}
		</tr>
		} } @else {
		<tr class="row">
			<td scope="row" class="cell" [colSpan]="columnsCount">
				No data available
			</td>
		</tr>
		}
	</tbody>

	<tfoot class="tfoot">
		<tr>
			<th
				scope="row"
				[colSpan]="columnsCount"
				class="footer"
				style="text-align: left"
			>
				Total
			</th>
			<td>{{ tableData.length }}</td>
		</tr>
	</tfoot>
</table>
