<div class="container">
	<h2>Existencia</h2>
	<div class="row">
		<mat-form-field class="filtro">
			<mat-label>Filtro por {{ tipoFiltroPlaceholder }}</mat-label>
			<input
				type="text"
				[placeholder]="tipoFiltroPlaceholder"
				matInput
				[formControl]="filtro"
				[matAutocomplete]="auto"
			/>
			<mat-autocomplete
				autoActiveFirstOption
				#auto="matAutocomplete"
				(optionSelected)="getMiembroByCedula($event)"
			>
				@for (item of miembrosList(); track $index) {
				<mat-option [value]="item.cedula">
					<span
						>{{ item.rango }} | {{ item.nombreApellidoCompleto }} |
						{{ item.estadoMiembro }}</span
					>
				</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>

		<mat-radio-group [(ngModel)]="tipoFiltro">
			<mat-radio-button [value]="tipoBusqueda.MIEMBRO"
				>Militar</mat-radio-button
			>
			<mat-radio-button [value]="tipoBusqueda.FUNCION"
				>Función</mat-radio-button
			>
			<mat-radio-button [value]="tipoBusqueda.CIVIL"
				>Civil</mat-radio-button
			>
		</mat-radio-group>
	</div>
	@if(miembro()!==null) {
	<div style="width: 100%; height: auto">
		<app-consulta-miembro [miembro]="miembro()"></app-consulta-miembro>
	</div>
	}
</div>
