<div id="main">
	<mat-toolbar class="toolbar">
		<mat-toolbar-row>
			<ng-container *ngIf="_authService.isAuthenticated$ | async">
				<button mat-icon-button (click)="sidenav.toggle()">
					<mat-icon style="color: white">menu</mat-icon>
				</button>
			</ng-container>

			<span>SiAB</span>
			<span style="width: 90%"></span>

			<ng-container *ngIf="_authService.isAuthenticated$ | async">
				<button
					mat-button
					[matMenuTriggerFor]="menu"
					style="color: white"
				>
					<span
						>{{ _authService.userData()?.Username }}
						<mat-icon
							[fontIcon]="'keyboard_arrow_down'"
							style="vertical-align: middle"
						></mat-icon
					></span>
				</button>
				<mat-menu #menu="matMenu" yPosition="below">
					<button mat-menu-item (click)="onLogout()">
						Cerrar Sesión
					</button>
				</mat-menu>
			</ng-container>
		</mat-toolbar-row>
	</mat-toolbar>
	<mat-sidenav-container
		class="sidenav-container"
		style="height: 90%; margin: 1em 0.5em"
	>
		<mat-sidenav
			#sidenav
			mode="side"
			class="sidenav"
			[autoFocus]="true"
			[position]="'start'"
		>
			<mat-list>
				@for (item of modules; track $index) {
				@if(hasPermission(item.url)) {
				<mat-list-item class="link-item">
					<a
						[routerLink]="item.url"
						class="link"
						routerLinkActive
						[routerLinkActiveOptions]="{ exact: true }"
					>
						<span
							><mat-icon
								style="
									vertical-align: middle;
									font-size: 1.3rem;
									margin-right: 0.5em;
								"
								>{{ item.icon }}</mat-icon
							>{{ item.name }}</span
						>
					</a>
				</mat-list-item>
				} }
			</mat-list>
		</mat-sidenav>
		<mat-sidenav-content
			style="padding: 1em 2em; height: 95%; overflow-y: auto"
		>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
