<h2 mat-dialog-title>Formulario Empresa</h2>

<div mat-dialog-content>
	<mat-stepper [linear]="true" #stepper>
		<mat-step>
			<ng-template matStepLabel>Datos empresa</ng-template>
			<form [formGroup]="empresaForm">
				<mat-form-field appearance="fill" style="width: 50%">
					<mat-label>Nombre</mat-label>
					<input matInput formControlName="nombre" />
				</mat-form-field>

				<mat-form-field appearance="fill" style="width: 45%">
					<mat-label>Titular</mat-label>
					<input matInput formControlName="titular" />
				</mat-form-field>

				<mat-form-field appearance="fill" style="width: 50%">
					<mat-label>Telefono</mat-label>
					<input matInput formControlName="telefono" />
				</mat-form-field>

				<mat-form-field appearance="fill" style="width: 45%">
					<mat-label>RNC</mat-label>
					<input matInput formControlName="rnc" />
				</mat-form-field>
			</form>
			<div class="actions">
				<button mat-flat-button matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Documento #1</ng-template>
			<app-documento-empresa-form
				[context]="'licencia'"
				[tipo-documento]="tipoDocumento.licencia"
				(on-info-sent)="onInfoRecieved($event)"
			></app-documento-empresa-form>
			<div class="actions">
				<button mat-raised-button matStepperPrevious>Atras</button>
				<button mat-flat-button matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Documento #2</ng-template>
			<app-documento-empresa-form
				[context]="'autorizacion_importacion'"
				[tipo-documento]="tipoDocumento.autorizacion_importacion"
				(on-info-sent)="onInfoRecieved($event)"
			></app-documento-empresa-form>
			<div class="actions">
				<button mat-raised-button matStepperPrevious>Atras</button>
				<button mat-flat-button matStepperNext>Siguiente</button>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Documento #3</ng-template>
			<app-documento-empresa-form
				[context]="'autorizacion_retiro_aduanal'"
				[tipo-documento]="tipoDocumento.autorizacion_retiro_aduanal"
				(on-info-sent)="onInfoRecieved($event)"
			></app-documento-empresa-form>
			<div class="actions">
				<button mat-raised-button matStepperPrevious>Atras</button>
				<button mat-flat-button (click)="onSave()">Guardar</button>
			</div>
		</mat-step>
	</mat-stepper>
</div>
