:host {
	display: block;
}

form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	.input {
		flex-grow: 2;
	}
}

.actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1em;
	button {
		flex-grow: 1;
	}
}
