<h2 mat-dialog-title>Formulario Empresa</h2>

<div mat-dialog-content>
	<form [formGroup]="empresaForm">
		<mat-stepper [linear]="true" #stepper>
			<mat-step>
				<ng-template matStepLabel>Datos empresa</ng-template>
				<div class="row">
					<mat-form-field appearance="fill">
						<mat-label>Nombre</mat-label>
						<input matInput formControlName="nombre" />
					</mat-form-field>

					<mat-form-field appearance="fill">
						<mat-label>RNC</mat-label>
						<input matInput formControlName="rnc" />
					</mat-form-field>
				</div>
				<div class="actions">
					<button mat-flat-button matStepperNext>Siguiente</button>
				</div>
			</mat-step>

			<mat-step>
				<ng-template matStepLabel>Datos de Titular(es)</ng-template>

				<ng-container formArrayName="titulares">
					<ng-container
						*ngFor="
							let titularForm of titulares.controls;
							let i = index
						"
					>
						<div class="form-array-row" [formGroupName]="i">
							<mat-form-field appearance="fill">
								<mat-label>Identificación / Cédula</mat-label>
								<input
									matInput
									formControlName="identificacion"
								/>
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Nombre</mat-label>
								<input matInput formControlName="nombre" />
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Apellido</mat-label>
								<input matInput formControlName="apellido" />
							</mat-form-field>

							<button mat-icon-button>
								<mat-icon (click)="removeTitular(i)"
									>delete</mat-icon
								>
							</button>
						</div>
					</ng-container>
				</ng-container>

				<div class="add-btn-row">
					<button
						class="add-button"
						mat-icon-button
						(click)="addTitular()"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>

				<div class="actions">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-flat-button matStepperNext>Siguiente</button>
				</div>
			</mat-step>

			<mat-step>
				<ng-template matStepLabel>Datos de Contacto</ng-template>

				<ng-container formArrayName="contactos">
					<ng-container
						*ngFor="
							let contactoForm of contactos.controls;
							let i = index
						"
					>
						<div class="form-array-row" [formGroupName]="i">
							<mat-form-field appearance="fill">
								<mat-label>Telefono</mat-label>
								<input matInput formControlName="telefono" />
							</mat-form-field>

							<button mat-icon-button>
								<mat-icon (click)="removeContacto(i)"
									>delete</mat-icon
								>
							</button>
						</div>
					</ng-container>
				</ng-container>

				<div class="add-btn-row">
					<button
						class="add-button"
						mat-icon-button
						(click)="addContacto()"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>

				<div class="actions">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-flat-button (click)="onSave()">Guardar</button>
				</div>
			</mat-step>
		</mat-stepper>
	</form>
</div>
