<h2 mat-dialog-title>{{ customTitle }}</h2>
<div mat-dialog-content>
	@if(isUpdate) {
	<mat-form-field style="width: 100%">
		<mat-label>Dependencia</mat-label>
		<input matInput [(ngModel)]="data.entity.nombre" />
	</mat-form-field>
	} @else {
	<mat-form-field style="width: 100%">
		<mat-label>Dependencia</mat-label>
		<input matInput [(ngModel)]="dependenciaObj.nombre" />
	</mat-form-field>
	<mat-checkbox [(ngModel)]="dependenciaObj.esExterna"
		>Es externa</mat-checkbox
	>
	}
</div>
<app-update-create-dialog-actions
	[isUpdate]="isUpdate"
	(on-save)="onSave($event)"
	(on-update)="onUpdate($event)"
></app-update-create-dialog-actions>
