<mat-card>
	<mat-card-header class="header">
		<h2 mat-card-title>Carga Documento</h2>
		<p mat-card-subtitle>Carga de documentos para inventario</p>
		<div class="actions">
			<app-resource-excel-selector></app-resource-excel-selector>
		</div>
	</mat-card-header>
	<mat-card-content>
		<app-excel-uploader
			[title]="'Cargar archivo de inventario'"
			(on-file-upluoded)="onFileSelected($event)"
		></app-excel-uploader>

		@if(tableData$()) {
		<mat-tab-group>
			@for (item of tableData$(); track $index) {

			<mat-tab [label]="item.sheet">
				<app-dynamic-data-table
					[tableColumns]="item.header || []"
					[tableData]="item.rows || []"
				></app-dynamic-data-table>
			</mat-tab>

			}
		</mat-tab-group>
		} @else {
		<p>Seleccione un archivo para cargar</p>
		}
	</mat-card-content>
</mat-card>
