<form class="container" [formGroup]="registroDebitoCreditoForm">
	<div style="width: 100%">
		<h1><mat-icon></mat-icon>Cargo y Descargo de Artículos</h1>
		<mat-divider></mat-divider>
	</div>

	<!-- Formulario 53 -->
	<fieldset>
		<legend>Formulario 53 : (colocar secuencia)</legend>
		<div class="column">
			<!-- Tipo cargo-descargo -->

			<div class="row">
				<mat-radio-group
					style="width: 100%"
					[required]="true"
					formControlName="tipoCargoDebito"
				>
					<mat-radio-button [value]="tipoCargoDescargo.MIEMBRO"
						>Miembro</mat-radio-button
					>
					<mat-radio-button [value]="tipoCargoDescargo.S4"
						>Depósito</mat-radio-button
					>
					<mat-radio-button [value]="tipoCargoDescargo.CIVIL"
						>Civil</mat-radio-button
					>
				</mat-radio-group>
				<mat-radio-group
					style="width: 100%"
					[required]="true"
					formControlName="tipoCargoCredito"
				>
					<mat-radio-button [value]="tipoCargoDescargo.MIEMBRO"
						>Miembro</mat-radio-button
					>
					<mat-radio-button [value]="tipoCargoDescargo.S4"
						>Depósito</mat-radio-button
					>
					<mat-radio-button [value]="tipoCargoDescargo.CIVIL"
						>Civil</mat-radio-button
					>
				</mat-radio-group>
			</div>

			<div class="row">
				<mat-form-field class="input">
					<mat-label>Débito (recibe)</mat-label>
					<input
						type="text"
						matInput
						formControlName="debito"
						[matAutocomplete]="debito"
					/>
					<mat-autocomplete
						autoActiveFirstOption
						#debito="matAutocomplete"
						[displayWith]="displaySelectedFormated"
					>
						@for (item of debitosList(); track $index) {
						<mat-option [value]="item">{{
							item.param2
						}}</mat-option>
						}
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field class="input">
					<mat-label>Crébito (entrega)</mat-label>
					<input
						type="text"
						matInput
						formControlName="credito"
						[matAutocomplete]="credito"
					/>
					<mat-autocomplete
						autoActiveFirstOption
						#credito="matAutocomplete"
						[displayWith]="displaySelectedFormated"
						(ngModelChange)="onSelectedCredito($event)"
					>
						@for (item of creditosList(); track $index) {
						<mat-option [value]="item">{{
							item.param2
						}}</mat-option>
						}
					</mat-autocomplete>
				</mat-form-field>
			</div>
			<div class="row">
				<div class="row">
					<mat-form-field class="input">
						<mat-label>Oficio</mat-label>
						<input matInput type="text" formControlName="oficio" />
					</mat-form-field>
					<mat-form-field class="input">
						<mat-label>No. Documento</mat-label>
						<input
							matInput
							type="text"
							formControlName="noDocumento"
						/>
					</mat-form-field>
					<mat-form-field class="input">
						<mat-label>Fecha</mat-label>
						<input matInput type="text" />
					</mat-form-field>
				</div>

				<mat-form-field style="width: 50%">
					<mat-label>Intendente</mat-label>
					<input
						type="text"
						matInput
						formControlName="intendente"
						[matAutocomplete]="intendente"
					/>
					<mat-autocomplete
						autoActiveFirstOption
						#intendente="matAutocomplete"
						[displayWith]="displaySelectedFormated"
					>
						@for (item of intendentesList(); track $index) {
						<mat-option [value]="item">{{
							item.param2
						}}</mat-option>
						}
					</mat-autocomplete>
				</mat-form-field>
			</div>
			<mat-form-field style="width: 100%">
				<mat-label>Observaciones</mat-label>
				<textarea
					matInput
					type="text"
					formControlName="observacion"
				></textarea>
			</mat-form-field>
		</div>
	</fieldset>

	<!-- Detalles de articulos -->

	<fieldset>
		<legend>Detalles de Artículos</legend>
		<div class="column">
			<div class="row">
				<mat-form-field class="input">
					<mat-label>Artículo</mat-label>
					<input
						type="text"
						matInput
						formControlName="articulo"
						#articulo
						[matAutocomplete]="auto"
						[displayWith]="displaySelectedArticulo"
					/>
					<mat-autocomplete
						autoActiveFirstOption
						#auto="matAutocomplete"
					>
						@for (item of articulosList(); track item.id) {
						<mat-option [value]="item">{{
							item.nombre
						}}</mat-option>
						}
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field class="input">
					<mat-label>Serie</mat-label>
					<input matInput type="text" [value]="articulo.value" />
				</mat-form-field>

				<mat-form-field class="input">
					<mat-label>Cantidad</mat-label>
					<input matInput type="number" />
				</mat-form-field>
			</div>
			<div
				style="
					width: 100%;
					min-height: 8em;
					max-height: 10em;
					height: auto;
					overflow-y: auto;
				"
			>
				<app-cargo-descargo-articulos-table
					[data]="articulosSelected"
					(delete)="onDeleteItem($event)"
				></app-cargo-descargo-articulos-table>
			</div>

			<div class="row">
				<mat-form-field class="input">
					<mat-label>Encargado de Armas</mat-label>
					<input matInput type="text" />
				</mat-form-field>
				<mat-form-field class="input">
					<mat-label>Encargado de Depósitos</mat-label>
					<input matInput type="text" />
				</mat-form-field>
			</div>

			<div class="row">
				<mat-form-field class="input">
					<mat-label>Entrega</mat-label>
					<input matInput type="text" />
				</mat-form-field>
				<mat-form-field class="input">
					<mat-label>Recibe</mat-label>
					<input matInput type="text" />
				</mat-form-field>
				<mat-form-field class="input">
					<mat-label>Firma</mat-label>
					<input matInput type="text" />
				</mat-form-field>
				<button
					mat-flat-button
					color="primary"
					style="width: 30%; top: -0.8em"
					(click)="createCargoDescargo()"
				>
					<mat-icon>save</mat-icon>
					Guardar
				</button>
			</div>
		</div>
	</fieldset>
</form>
