<div class="container">
	<div style="width: 100%">
		<div class="row-between">
			<h1><mat-icon></mat-icon>Cargo y Descargo de Artículos</h1>
			<button
				mat-flat-button
				[routerLink]="['/transacciones/']"
				style="margin-top: 1.5em"
				class="primary-color"
			>
				<mat-icon>keyboard_arrow_left</mat-icon>
				Regresar
			</button>
		</div>
		<mat-divider></mat-divider>
	</div>

	<!-- Formulario 53 -->

	<form [formGroup]="registroDebitoCreditoForm">
		<fieldset>
			<legend>
				Formulario 53 : <b>{{ secuencia_53() }}</b>
			</legend>
			<div class="column">
				<!-- Tipo cargo-descargo -->

				<div class="row">
					<mat-radio-group
						style="width: 100%"
						[required]="true"
						formControlName="tipoCargoDebito"
					>
						<mat-radio-button [value]="tipoCargoDescargo.MIEMBRO"
							>Militar</mat-radio-button
						>
						<mat-radio-button [value]="tipoCargoDescargo.CIVIL"
							>Civil</mat-radio-button
						>
						<mat-radio-button [value]="tipoCargoDescargo.DEPOSITO"
							>Depósito</mat-radio-button
						>
					</mat-radio-group>
					<mat-radio-group
						style="width: 100%"
						[required]="true"
						formControlName="tipoCargoCredito"
						#tipoCargoCredito
					>
						<mat-radio-button [value]="tipoCargoDescargo.MIEMBRO"
							>Militar</mat-radio-button
						>
						<mat-radio-button [value]="tipoCargoDescargo.CIVIL"
							>Civil</mat-radio-button
						>
						<mat-radio-button [value]="tipoCargoDescargo.DEPOSITO"
							>Depósito</mat-radio-button
						>
					</mat-radio-group>
				</div>

				<div class="row">
					<mat-form-field class="input">
						<mat-label>Débito (recibe)</mat-label>
						<input
							type="text"
							matInput
							formControlName="debito"
							[matAutocomplete]="debito"
						/>
						<mat-autocomplete
							autoActiveFirstOption
							#debito="matAutocomplete"
							[displayWith]="displaySelectedFormated"
						>
							@for (item of debitosList(); track $index) {
							<mat-option [value]="item">{{
								item.param2
							}}</mat-option>
							}
						</mat-autocomplete>
					</mat-form-field>

					<mat-form-field class="input">
						<mat-label>Crébito (entrega)</mat-label>
						<input
							type="text"
							matInput
							formControlName="credito"
							[matAutocomplete]="credito"
						/>
						<mat-autocomplete
							autoActiveFirstOption
							#credito="matAutocomplete"
							[displayWith]="displaySelectedFormated"
							(optionSelected)="onSelectedCredito()"
						>
							@for (item of creditosList(); track $index) {
							<mat-option [value]="item">{{
								item.param2
							}}</mat-option>
							}
						</mat-autocomplete>
					</mat-form-field>
				</div>

				<div style="width: 100%; padding: 1em">
					<app-file-input
						[title]="'Archivo de soporte  (PDF)'"
						[fileType]="'application/pdf'"
						(on-file-upluoded)="onFileUploaded($event)"
					></app-file-input>
				</div>

				<div class="row">
					<div class="row">
						<mat-form-field class="input">
							<mat-label>No. Documento</mat-label>
							<input matInput formControlName="noDocumento" />
						</mat-form-field>

						<mat-form-field class="input">
							<mat-label>Fecha</mat-label>
							<input
								matInput
								[matDatepicker]="picker"
								formControlName="fecha"
							/>
							<mat-hint>DD/MM/YYYY</mat-hint>
							<mat-datepicker-toggle
								matIconSuffix
								[for]="picker"
							></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</div>

					<mat-form-field style="width: 50%">
						<mat-label>Intendente</mat-label>
						<input
							type="text"
							matInput
							formControlName="intendente"
							[matAutocomplete]="intendente"
						/>
						<mat-autocomplete
							autoActiveFirstOption
							#intendente="matAutocomplete"
							[displayWith]="displayedSelectedMiembro"
						>
							@for (item of intendentesList(); track $index) {
							<mat-option [value]="item">
								<app-miembro-list-item
									[miembro]="item"
								></app-miembro-list-item>
							</mat-option>
							}
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<mat-form-field style="width: 100%">
					<mat-label>Observaciones</mat-label>
					<textarea
						matInput
						type="text"
						formControlName="observacion"
					></textarea>
				</mat-form-field>
			</div>
		</fieldset>
	</form>

	<!-- Detalles de articulos -->

	<fieldset>
		<legend>Detalles de Artículos</legend>
		<div class="column">
			<div class="row">
				<mat-form-field class="input">
					<mat-label>Artículo</mat-label>
					<mat-select [(ngModel)]="subtipoSelected">
						@for (item of articulos_subtipos; track $index) {
						<mat-option [value]="item">{{ item }}</mat-option>
						}
					</mat-select>
				</mat-form-field>

				<mat-form-field class="input">
					<mat-label>Serie</mat-label>
					<mat-select
						[(ngModel)]="serieSelected"
						(selectionChange)="onSerieChange()"
					>
						@for (item of articulos_series; track $index) {
						<mat-option [value]="item.serie"
							>{{ item.serie }} | {{ item.marca }}</mat-option
						>
						}
					</mat-select>
				</mat-form-field>

				<mat-form-field class="input">
					<mat-label
						>Cantidad ({{ articulo_max_cantidad }})</mat-label
					>
					<input
						matInput
						type="number"
						[(ngModel)]="cantidadSelected"
						placeholder="cantidad"
						[value]="articulo_max_cantidad"
						[min]="1"
						[max]="articulo_max_cantidad"
					/>
				</mat-form-field>

				<button
					style="width: 10%"
					mat-flat-button
					color="primary"
					(click)="addArticulo()"
					[disabled]="!isArticuloFormValid"
				>
					<mat-icon>add</mat-icon> agregar
				</button>
			</div>

			@if(articulosSelected().length > 0) {
			<div
				style="
					width: 100%;
					min-height: 8em;
					max-height: 10em;
					height: auto;
					overflow-y: auto;
				"
			>
				<app-cargo-descargo-articulos-table
					[data]="articulosSelected()"
					(delete)="onDeleteItem($event)"
				></app-cargo-descargo-articulos-table>
			</div>
			}
		</div>
	</fieldset>

	<fieldset>
		<legend>Detalles</legend>
		<form [formGroup]="reportDetailsForm">
			<div class="column">
				<div class="row">
					<mat-form-field class="input">
						<mat-label>Encargado Armas</mat-label>
						<input
							type="text"
							matInput
							formControlName="encargadoArmas"
							[matAutocomplete]="encargadoArmas"
						/>
						<mat-autocomplete
							autoActiveFirstOption
							#encargadoArmas="matAutocomplete"
							[displayWith]="displayedSelectedMiembro"
						>
							@for (item of intendentesList(); track $index) {
							<mat-option [value]="item">
								<app-miembro-list-item
									[miembro]="item"
								></app-miembro-list-item>
							</mat-option>
							}
						</mat-autocomplete>
					</mat-form-field>

					<mat-form-field class="input">
						<mat-label>Encargado Depositos</mat-label>
						<input
							type="text"
							matInput
							formControlName="encargadoDepositos"
							[matAutocomplete]="encargadoDepositos"
						/>
						<mat-autocomplete
							autoActiveFirstOption
							#encargadoDepositos="matAutocomplete"
							[displayWith]="displayedSelectedMiembro"
						>
							@for (item of intendentesList(); track $index) {
							<mat-option [value]="item">
								<app-miembro-list-item
									[miembro]="item"
								></app-miembro-list-item>
							</mat-option>
							}
						</mat-autocomplete>
					</mat-form-field>
				</div>
			</div>
		</form>
	</fieldset>

	<div class="column">
		<button
			mat-stroked-button
			style="width: 100%"
			(click)="generarReporte53()"
			[disabled]="!registroDebitoCreditoForm.valid"
		>
			<mat-icon>print</mat-icon>
			Imprimir
		</button>

		<button
			mat-flat-button
			color="primary"
			style="width: 100%"
			(click)="createCargoDescargo()"
			[disabled]="!registroDebitoCreditoForm.valid"
		>
			<mat-icon>save</mat-icon>
			Guardar
		</button>
	</div>
</div>
