<app-module-index>
	<card-header>
		<app-page-intro
			[title]="'Detalles orden' + ' No.' + ordenId"
			[description]="'detalles de la orden de compra'"
			[show-back]="true"
			[show-search]="false"
			[show-create-btn]="false"
		>
		</app-page-intro>
	</card-header>
	<card-content>
		<div class="grid">
			<div class="iframe">
				<iframe id="iframe" width="100%" height="80%"></iframe>
			</div>
			<div class="documents">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Documentos</mat-card-title>
						<mat-card-subtitle
							>Documentos asociados a la orden</mat-card-subtitle
						>
					</mat-card-header>
					<mat-card-content>
						<table
							mat-table
							[dataSource]="detalleOrden$().documentos"
						>
							<ng-container matColumnDef="info">
								<th mat-header-cell *matHeaderCellDef>
									Archivo
								</th>
								<td
									mat-cell
									*matCellDef="let element; let i = index"
								>
									<span
										><b>Nombre:</b
										>{{ element.nombreArchivo }}</span
									>
									<br />
									<span
										><b>Tipo:</b
										>{{ element.tipoDocumento }}</span
									>
								</td>
							</ng-container>
							<ng-container matColumnDef="fecha">
								<th mat-header-cell *matHeaderCellDef>Fecha</th>
								<td
									mat-cell
									*matCellDef="let element; let i = index"
								>
									<span
										><b>Emisión: </b
										>{{
											element.fechaEmision
												| date : 'dd/MM/yyyy'
										}}</span
									>
									<br />
									<span
										><b>Recepción: </b
										>{{
											element.fechaRecepcion
												| date : 'dd/MM/yyyy'
										}}</span
									>
									<br />
									<span
										><b>Expiración: </b
										>{{
											element.fechaExpiracion
												| date : 'dd/MM/yyyy'
										}}</span
									>
								</td>
							</ng-container>

							<ng-container matColumnDef="acciones">
								<th mat-header-cell *matHeaderCellDef>
									Acciones
								</th>
								<td
									mat-cell
									*matCellDef="let element; let i = index"
								>
									<button
										mat-icon-button
										(click)="
											onDocumentView(element.dataUrl)
										"
									>
										<mat-icon>remove_red_eye</mat-icon>
									</button>
								</td>
							</ng-container>

							<tr
								mat-header-row
								*matHeaderRowDef="displayedDocumentsColumns"
							></tr>
							<tr
								mat-row
								*matRowDef="
									let element;
									columns: displayedDocumentsColumns
								"
							></tr>

							<tr class="mat-row" *matNoDataRow>
								<td class="mat-cell" colspan="3">
									<h4 style="text-align: center">
										No hay datos
									</h4>
								</td>
							</tr>
						</table>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="articles">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Articulos</mat-card-title>
						<mat-card-subtitle
							>Articulos asociados a la orden</mat-card-subtitle
						>
					</mat-card-header>
					<mat-card-content>
						<table
							mat-table
							[dataSource]="detalleOrden$().articulos"
						>
							<ng-container matColumnDef="info">
								<th mat-header-cell *matHeaderCellDef>
									Articulo
								</th>
								<td
									mat-cell
									*matCellDef="let element; let i = index"
								>
									<span
										><b>Cat.:</b>
										{{ element.categoria }}</span
									>
									<br />
									<span
										><b>SubTipo:</b>
										{{ element.subTipo }}</span
									>
									<br />
									<span
										><b>Marca:</b> {{ element.marca }}</span
									>
									<br />

									@if(element.serie !== null && element.serie
									!== ''){
									<span
										><b>Calibre:</b>
										{{ element.calibre }}</span
									>
									<br />
									<span
										><b>Serie:</b> {{ element.serie }}</span
									>
									}
								</td>
							</ng-container>

							<ng-container matColumnDef="datos">
								<th mat-header-cell *matHeaderCellDef>Datos</th>
								<td
									mat-cell
									*matCellDef="let element; let i = index"
								>
									<span
										><b>Cantd. Recibida:</b>
										{{ element.cantidadRecibida }}</span
									>
									<br />
									<span
										><b>Cantd. Entregada:</b>
										{{ element.cantidadEntregada }}</span
									>
								</td>
							</ng-container>

							<ng-container matColumnDef="acciones">
								<th mat-header-cell *matHeaderCellDef>
									Acciones
								</th>
								<td
									mat-cell
									*matCellDef="let element; let i = index"
								>
									<button mat-icon-button>
										<mat-icon
											>remove_circle_outline</mat-icon
										>
									</button>
								</td>
							</ng-container>

							<tr
								mat-header-row
								*matHeaderRowDef="displayedArticlesColumns"
							></tr>
							<tr
								mat-row
								*matRowDef="
									let element;
									columns: displayedArticlesColumns
								"
							></tr>

							<tr class="mat-row" *matNoDataRow>
								<td class="mat-cell" colspan="3">
									<h4 style="text-align: center">
										No hay datos
									</h4>
								</td>
							</tr>
						</table>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</card-content>
	<card-footer></card-footer>
</app-module-index>
